<div id="create-container">

    <div>

        <input id="title-field" type="text" value="" placeholder="title" class="create-element">

    </div>

    <div>

        <input id="rating-field" type="number" value="" placeholder="rating" class="create-element">

    </div>

    <div>

        <span id="createTodo" class="create-element">Create todo</span>

    </div>

</div>
