<input type="checkbox" class="output state"  <%= todo.finished ? 'checked' : '' %>>
<span class="output title <%= todo.finished ? 'todo-finished' : '' %>"><%= todo.title %></span>
<span class="output rating"><%= todo.rating || '-' %></span>