<div>

    <div id="rating-sort">

        <label>
            <input type="radio" name="rating-radio" value="top"> /\
        </label>

        <label>
            <input type="radio" name="rating-radio" value="down"> \/
        </label>

    </div>

    <div>

        <label>
            <input type="number" id="gte" class="range-number" min="1" max="5" value="1"> <
        </label>

        <span>rating</span>

        <label>
            < <input type="number" id="lte" class="range-number" min="1" max="5" value="5">
        </label>

    </div>

</div>
