<div id="state-filter-block">

    <label>
        <input type="radio" name="state-radio" value="all" checked> all
    </label>

    <label>
        <input type="radio" name="state-radio" value="active"> active
    </label>

    <label>
        <input type="radio" name="state-radio" value="finished"> finished
    </label>

</div>
