<div class="todo-item" data-id="<%= todo._id %>">

    <div class="info-block">
        <input type="checkbox" class="output state" <%= todo.finished ? 'checked' : '' %>>
        <span class="output title <%= todo.finished ? 'todo-finished' : '' %>"><%= todo.title %></span>
        <span class="output rating"><%= todo.rating || '-' %></span>
    </div>

    <div class="btns-block">

        <span class="todo-item-btn edit">Edit</span>
        <span class="todo-item-btn delete">Delete</span>

    </div>

</div>
