<div id="todos-container">

    <div>

        <header id="todos-header">
            <h2>TODOS</h2>
        </header>

        <hr style="margin-bottom: 0">

        <div id="todos-options-btn">
            <span id="todos-ctrl-create" class="top-btn">New todo</span>
            <span id="todos-ctrl-state-filter" class="top-btn">State filter</span>
            <span id="todos-ctrl-rating-filter" class="top-btn">Rating filter</span>
            <span id="todos-ctrl-clear-filter" class="top-btn">Clear filters</span>
        </div>

        <hr style="margin-top: 0">

        <div id="todos-subview"></div>

    </div>

    <div id="todos-list"></div>

</div>