#todos-container {
    width       : 60%;
    margin-left : 20%;
}

#todos-header {
    text-align       : center;
    background-color : #F4511E;
    padding          : 5px;
    color            : #E0E0E0;
}

#todos-header h2 {
    font-size : xx-large;
}

#todos-options-btn {
    padding-top      : 15px;
    padding-bottom   : 15px;
    display          : flex;
    justify-content  : space-around;
    background-color : #F5F5F5;
}

.top-btn {
    text-align       : center;
    background-color : #F44336;
    padding          : 15px;
    width            : 12%;
    border-radius    : 50%;
    display          : flex;
    align-self       : center;
    justify-content  : center;
    cursor           : pointer;
}

#todos-subview {
    padding          : 3%;
    margin-top       : 10px;
    display          : flex;
    justify-content  : space-around;
    background-color : #F5F5F5;
    border-bottom    : 1px solid #212121;
}

#todos-list {
    width           : 80%;
    margin-left     : 10%;
    margin-right    : 10%;
    padding         : 10px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    flex-direction  : column;
}

#create-container {
    width           : 100%;
    display         : flex;
    justify-content : space-around;
}

.create-element {
    font-size        : large;
    background-color : #FAFAFA;
}

span.create-element {
    border-radius    : 25px;
    padding          : 15px;
    background-color : #FF9800;
    cursor           : pointer;
}

.todo-item {
    position      : relative;
    width         : 100%;
    margin-top    : 5px;
    margin-bottom : 5px;
    font-size     : medium;
    display       : flex;
    align-self    : center;
}

.todo-item:nth-child(2n) {
    background-color : #CCFF90;
}

.todo-item:nth-child(2n+1) {
    background-color : #C5E1A5;
}

.todo-item .btns-block {
    position     : absolute;
    right        : 0;
    margin-right : 20px;
}

.todo-item .btns-block span {
    margin-left     : 15px;
    margin-right    : 5px;
    cursor          : pointer;
    color           : #1E88E5;
    font-size       : larger;
    text-decoration : underline;
}

.todo-item .btns-block span:hover {
    color : #1A237E;
}

.todo-item .info-block {
    position    : relative;
    width       : 55%;
    margin-left : 10%;
    display     : flex;
    align-self  : center;
    padding     : 3px;
}

.todo-item .info-block input {
    margin-left : 10px;
}

.todo-item .info-block .rating {
    position : absolute;
    right    : 0;
}

.todo-item .info-block span {
    margin-left  : 35px;
    margin-right : 15px;
    font-size    : larger;
}

.todo-item .info-block {

}

.todo-finished {
    text-decoration : line-through;
}

#state-filter-block {
    padding         : 1%;
    width           : 60%;
    margin-left     : 20%;
    margin-right    : 20%;
    display         : flex;
    justify-content : space-around;
}

#state-filter-block label {
    font-size : x-large;
}

#rating-sort {
    border          : 1px solid black;
    display         : flex;
    justify-content : center;
    margin-top      : 2%;
    margin-bottom   : 5%;
    padding         : 2%;
}
